<!DOCTYPE html>
<html>
<head>
	<link href"C:/Users/ShyanBarker/Documents/CodifyAcademy/week3/template/css/main.css" rel"stylsheet">
</head>
	<body>
	<div class="navbar">
		<nav>
			<ul>
				<li><a href="https://www.apple.com/"><img src=""></a></li><!--fa fa icon apple-->
				<li><a href="https://www.apple.com/mac/">Mac</a></li><!--word mac=find font-->
				<li><a href="https://www.apple.com/ipad/">iPad</a></li>
				<li><a href="https://www.apple.com/iphone/">iPhone</a></li>
				<li><a href="https://www.apple.com/watch/">Watch</a>a></li>
				<li><a href="https://www.apple.com/tv/">TV</a></li>
				<li><a href="https://www.apple.com/music/">Music</a></li>
				<li><a href="https://support.apple.com/">Support</a></li>
				<li><a href="https://www.apple.com/us/search"><img src=""></a></li><!--fa fa icon magnifying glass-->
				<li><a href="https://www.apple.com/us/shop/goto/bag"><img src=""></a></li>
			</ul>
		</nav>
	</div>
	</body>
</html>